body { 
  background-color: #f7fffd; 
} 
 
section.close_profaile { 
  width: 100%; 
  height: 70px; 
  background-color: #cededa; 
  border-radius: 0px 0px 35px 35px; 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
} 
section.close_profaile > h1 { 
  color: #225649; 
  font-family: shabnam; 
  margin-right: 30px; 
} 
section.close_profaile > a > img { 
  width: 30%; 
  color: #225649; 
} 
/* ******************************* */
section.edit-profaile-img{
    width: 100%;
    height: 390px;
    margin-top: 52px;
    display: flex;
    justify-content: center;
}

section.edit-profaile-img>section.profaile-img{
    width: 386px;
    height: 386px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.5) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

section.edit-profaile-img>section.profaile-img>section.ghalb-img>img{
    width: 344px;
    height: 344px;
    position: relative;
    border: 2px solid #225649;
}

section.edit-profaile-img>section.profaile-img>img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}

section.edit-profaile-img>section.profaile-img>section.ghalb-img>section.flesh1{
    width: 32px;
    height: 8px;
    background: #225649;
    border-radius: 31px 0 0 31px;
    position: absolute;
    top: 4%;

}

section.edit-profaile-img>section.profaile-img>section.ghalb-img>section.flesh2{
    width: 32px;
    height: 8px;
    background: #225649;
    border-radius: 31px 0 0 31px;
    position: absolute;
    top: 28px;
    right: 2%;
    transform: rotate(270deg);
}

section.edit-profaile-img>section.profaile-img>section.ghalb-img>section.flesh3{
    width: 32px;
    height: 8px;
    background: #225649;
    border-radius: 31px 0 0 31px;
    position: absolute;
    bottom: 20px;

}

section.edit-profaile-img>section.profaile-img>section.ghalb-img>section.flesh4{
    width: 32px;
    height: 8px;
    background: #225649;
    border-radius: 31px 0 0 31px;
    position: absolute;
    bottom: 32px;
    right: 6px;
    transform: rotate(90deg);
}

section.edit-profaile-img>section.profaile-img>section.ghalb-img>section.flesh5{
    width: 32px;
    height: 8px;
    background: #225649;
    border-radius: 31px 0 0 31px;
    position: absolute;
    top: 16px;
    left: 21px;
    transform: rotate(180deg);

}

section.edit-profaile-img>section.profaile-img>section.ghalb-img>section.flesh6{
    width: 32px;
    height: 8px;
    background: #225649;
    border-radius: 31px 0 0 31px;
    position: absolute;
    top: 28px;
    left: 6px;
    transform: rotate(270deg);
}

section.edit-profaile-img>section.profaile-img>section.ghalb-img>section.flesh7{
    width: 32px;
    height: 8px;
    background: #225649;
    border-radius: 31px 0 0 31px;
    position: absolute;
    bottom: 20px;
    left: 21px;
    transform: rotate(180deg);

}

section.edit-profaile-img>section.profaile-img>section.ghalb-img>section.flesh8{
    width: 32px;
    height: 8px;
    background: #225649;
    border-radius: 31px 0 0 31px;
    position: absolute;
    bottom: 32px;
    left: 6px;
    transform: rotate(90deg);
}